extends layout

block content
  .row  
    .col-sm-3(style='background:#cccccc; padding:20px; height: 100vh; overflow: scroll;')
      h4 Groups
      each group in groups
        p= group
      hr
      h5 Recent Contacts
      each recentContact in recentContacts 
        img(src='/images/user-profile.png', alt='Profile Picture', style='width:30px; padding:4px')
        | #{recentContact}
        br
      
      hr
      h5 All
      each name in names 
        img(src='/images/user-profile.png', alt='Profile Picture', style='width:30px; padding:4px')
        | #{name}
        br
    each message in messages    
      .col-sm-9(style='background:#f2f2f2; padding:20px;')
        .outgoing_msg
          .sent_msg
            p
              | Test which is a new approach to have all
              | solutions
            span.time_date  11:01 AM    |    June 9
        .incoming_msg
          .incoming_msg_img
            img(src='/images/user-profile.png', style='width:50px; padding:4px', alt='profile pic')
          .received_msg
            .received_withd_msg
              p Test, which is a new approach to have
              span.time_date  John | 11:01 AM    |    Yesterday
        .outgoing_msg
          .sent_msg
            p Apollo University, Delhi, India Test
            span.time_date  11:01 AM    |    Today
        .incoming_msg
          .incoming_msg_img
            img(src='/images/user-profile.png', style='width:50px; padding:4px', alt='profile pic')
          .received_msg
            .received_withd_msg
              p
                | We work directly with our designers and suppliers,
                | and sell direct to you, which means quality, exclusive
                | products, at a price anyone can afford.
              span.time_date  11:01 AM    |    Today
        

      form
        .row(style='margin-top:100px')
          .col-sm-10
            textarea#exampleTextarea.form-control(rows='3')  
          .col-sm-2
            button.btn.btn-primary(style='margin-top:20px') Submit
        
  
  