extends layout

block content
  
  p Welcome to #{title} - Discover international development projects.

  .jumbotron
    h1.display-3 Tell us about your project...
    p.lead
        | If you don't yet have an account you will be asked to make one after pressing submit.
    hr.my-4
    p
        | Make sure all of the information is acurate and it doesn't violate  our terms of use.
    form
        fieldset
         
            .form-group
            label(for='project name') Project Name
            br
            textarea#exampleTextarea.form-control(rows='1', placeholder='e.g. Water conservation in Ghana')
            small#emailHelp.form-text.text-muted Project name must be unique.
            .form-group
            label(for='exampleTextarea') Short summary
            textarea#exampleTextarea.form-control(rows='2')

            .form-group
            label(for='exampleTextarea') Full description
            textarea#exampleTextarea.form-control(rows='6')
            
            .form-group
            label(for='exampleSelect1') What type of project
            select#exampleSelect1.form-control
                option Agriculture
                option Climate Change
                option Health
                option Education
                option Food security
               
            .form-group
            label(for='exampleSelect2') What Countries was this project in
            select#exampleSelect2.form-control(multiple='')
                option Kenya
                option Tanzania
                option Ghana
                option DRC
                option India
            .form-group
            label(for='exampleTextarea') Key outcomes
            textarea#exampleTextarea.form-control(rows='3')
            .form-group
            label(for='exampleTextarea') Recomendations for others
            textarea#exampleTextarea.form-control(rows='3')
            .form-group
            label(for='exampleInputFile') Upload Images
            input#exampleInputFile.form-control-file(type='file', aria-describedby='fileHelp')
            small#fileHelp.form-text.text-muted
                | This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.
            fieldset.form-group
            
            .form-check
                label.form-check-label
                input#optionsRadios1.form-check-input(type='radio', name='optionsRadios', value='option1', checked='')
                |           Project is finished
            .form-check
                label.form-check-label
                input#optionsRadios2.form-check-input(type='radio', name='optionsRadios', value='option2')
                |           Project is ongoing
            br
            label(for='Start Date') Start Date: 
            input(type='date', name='Start Date')
            label(for='Start Date') Finish Date: 
            input(type='date', name='Finish Date')
            hr

            

    p.lead
        a.btn.btn-primary.btn-lg(href='#', role='button') Submit
