extends layout

block content
  
  div(style='margin-top:30px; margin-left:30px;')
    h2= pageHeader.title
    p= pageHeader.strapline
  hr
  card
    a.badge.badge-primary(style="margin-right: 5px;", data-toggle='tab', href='#following') Following
   
                