extends layout

block content
  
  
  h2(style='margin-top:30px;') Latest Updates
  p Welcome to the #{title} - Keep up to date with the latest news from the network.
  hr
  div(style='padding:50px')
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active(data-toggle='tab', href='#following') Following
      li.nav-item
        a.nav-link(data-toggle='tab', href='#popular') Popular
      li.nav-item
        a.nav-link(href='#all') All
     
    #myTabContent.tab-content
      #following.tab-pane.fade.active.show
        
          
        .container-fluid.gedf-wrapper
          .row
            .col-md-3
              .card
                .card-body
                  .h5 @LeeCross
                  .h7.text-muted Fullname : Miracles Lee Cross
                  .h7
                    | Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
                    | etc.
                ul.list-group.list-group-flush
                  li.list-group-item
                    .h6.text-muted Followers
                    .h5 5.2342
                  li.list-group-item
                    .h6.text-muted Following
                    .h5 6758
                  li.list-group-item Vestibulum at eros
            .col-md-6.gedf-main
              // - \\\\\\\Post
              .card.gedf-card
                .card-header
                  ul#myTab.nav.nav-tabs.card-header-tabs(role='tablist')
                    li.nav-item
                      a#posts-tab.nav-link.active(data-toggle='tab', href='#posts', role='tab', aria-controls='posts', aria-selected='true')
                        | Make
                        | a publication
                    li.nav-item
                      a#images-tab.nav-link(data-toggle='tab', role='tab', aria-controls='images', aria-selected='false', href='#images') Images
                .card-body
                  #myTabContent.tab-content
                    #posts.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='posts-tab')
                      .form-group
                        label.sr-only(for='message') post
                        textarea#message.form-control(rows='3', placeholder='What are you thinking?')
                    #images.tab-pane.fade(role='tabpanel', aria-labelledby='images-tab')
                      .form-group
                        .custom-file
                          input#customFile.custom-file-input(type='file')
                          label.custom-file-label(for='customFile') Upload image
                      .py-4
                  .btn-toolbar.justify-content-between
                    .btn-group
                      button.btn.btn-primary(type='submit') share
                    .btn-group
                      button#btnGroupDrop1.btn.btn-link.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        i.fa.fa-globe
                      .dropdown-menu.dropdown-menu-right(aria-labelledby='btnGroupDrop1')
                        a.dropdown-item(href='#')
                          i.fa.fa-globe
                          |  Public
                        a.dropdown-item(href='#')
                          i.fa.fa-users
                          |  Friends
                        a.dropdown-item(href='#')
                          i.fa.fa-user
                          |  Just me
              // Post /////
              // - \\\\\\\Post
              .card.gedf-card
                .card-header
                  .d-flex.justify-content-between.align-items-center
                    .d-flex.justify-content-between.align-items-center
                      .mr-2
                        img.rounded-circle(width='45', src='https://picsum.photos/50/50', alt='')
                      .ml-2
                        .h5.m-0 @LeeCross
                        .h7.text-muted Miracles Lee Cross
                    div
                      .dropdown
                        button#gedf-drop1.btn.btn-link.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                          i.fa.fa-ellipsis-h
                        .dropdown-menu.dropdown-menu-right(aria-labelledby='gedf-drop1')
                          .h6.dropdown-header Configuration
                          a.dropdown-item(href='#') Save
                          a.dropdown-item(href='#') Hide
                          a.dropdown-item(href='#') Report
                .card-body
                  .text-muted.h7.mb-2
                    i.fa.fa-clock-o
                    | 10 min ago
                  a.card-link(href='#')
                    h5.card-title Lorem ipsum dolor sit amet, consectetur adip.
                  p.card-text
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae nulla rem eos ipsa praesentium esse magnam nemo dolor
                    | sequi fuga quia quaerat cum, obcaecati hic, molestias minima iste voluptates.
                .card-footer
                  a.card-link(href='#')
                    i.fa.fa-gittip
                    |  Like
                  a.card-link(href='#')
                    i.fa.fa-comment
                    |  Comment
                  a.card-link(href='#')
                    i.fa.fa-mail-forward
                    |  Share
              // Post /////
              // - \\\\\\\Post
              .card.gedf-card
                .card-header
                  .d-flex.justify-content-between.align-items-center
                    .d-flex.justify-content-between.align-items-center
                      .mr-2
                        img.rounded-circle(width='45', src='https://picsum.photos/50/50', alt='')
                      .ml-2
                        .h5.m-0 @LeeCross
                        .h7.text-muted Miracles Lee Cross
                    div
                      .dropdown
                        button#gedf-drop1.btn.btn-link.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                          i.fa.fa-ellipsis-h
                        .dropdown-menu.dropdown-menu-right(aria-labelledby='gedf-drop1')
                          .h6.dropdown-header Configuration
                          a.dropdown-item(href='#') Save
                          a.dropdown-item(href='#') Hide
                          a.dropdown-item(href='#') Report
                .card-body
                  .text-muted.h7.mb-2
                    i.fa.fa-clock-o
                    |  10 min ago
                  a.card-link(href='#')
                    h5.card-title
                      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit consectetur
                      | deserunt illo esse distinctio.
                  p.card-text
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis nihil, aliquam est, voluptates officiis iure soluta
                    | alias vel odit, placeat reiciendis ut libero! Quas aliquid natus cumque quae repellendus. Lorem
                    | ipsum dolor sit amet consectetur adipisicing elit. Ipsa, excepturi. Doloremque, reprehenderit!
                    | Quos in maiores, soluta doloremque molestiae reiciendis libero expedita assumenda fuga quae.
                    | Consectetur id molestias itaque facere? Hic!
                  div
                    span.badge.badge-primary JavaScript
                    span.badge.badge-primary Android
                    span.badge.badge-primary PHP
                    span.badge.badge-primary Node.js
                    span.badge.badge-primary Ruby
                    span.badge.badge-primary Paython
                .card-footer
                  a.card-link(href='#')
                    i.fa.fa-gittip
                    |  Like
                  a.card-link(href='#')
                    i.fa.fa-comment
                    |  Comment
                  a.card-link(href='#')
                    i.fa.fa-mail-forward
                    |  Share
              // Post /////
              // - \\\\\\\Post
              .card.gedf-card
                .card-header
                  .d-flex.justify-content-between.align-items-center
                    .d-flex.justify-content-between.align-items-center
                      .mr-2
                        img.rounded-circle(width='45', src='https://picsum.photos/50/50', alt='')
                      .ml-2
                        .h5.m-0 @LeeCross
                        .h7.text-muted Miracles Lee Cross
                    div
                      .dropdown
                        button#gedf-drop1.btn.btn-link.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                          i.fa.fa-ellipsis-h
                        .dropdown-menu.dropdown-menu-right(aria-labelledby='gedf-drop1')
                          .h6.dropdown-header Configuration
                          a.dropdown-item(href='#') Save
                          a.dropdown-item(href='#') Hide
                          a.dropdown-item(href='#') Report
                .card-body
                  .text-muted.h7.mb-2
                    i.fa.fa-clock-o
                    |  Hace 40 min
                  a.card-link(href='#')
                    h5.card-title
                      | Totam non adipisci hic! Possimus ducimus amet, dolores illo ipsum quos
                      | cum.
                  p.card-text
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sunt fugit reprehenderit consectetur exercitationem odio,
                    | quam nobis? Officiis, similique, harum voluptate, facilis voluptas pariatur dolorum tempora sapiente
                    | eius maxime quaerat.
                    a(href='https://mega.nz/#!1J01nRIb!lMZ4B_DR2UWi9SRQK5TTzU1PmQpDtbZkMZjAIbv97hU', target='_blank') https://mega.nz/#!1J01nRIb!lMZ4B_DR2UWi9SRQK5TTzU1PmQpDtbZkMZjAIbv97hU
                .card-footer
                  a.card-link(href='#')
                    i.fa.fa-gittip
                    |  Like
                  a.card-link(href='#')
                    i.fa.fa-comment
                    |  Comment
                  a.card-link(href='#')
                    i.fa.fa-mail-forward
                    |  Share
              // Post /////
            .col-md-3
              .card.gedf-card
                .card-body
                  h5.card-title Card title
                  h6.card-subtitle.mb-2.text-muted Card subtitle
                  p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the
                    | card's content.
                  a.card-link(href='#') Card link
                  a.card-link(href='#') Another link
              .card.gedf-card
                .card-body
                  h5.card-title Card title
                  h6.card-subtitle.mb-2.text-muted Card subtitle
                  p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the
                    | card's content.
                  a.card-link(href='#') Card link
                  a.card-link(href='#') Another link
              

          
      #popular.tab-pane.fade
        p
          | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.
      #all.tab-pane.fade
        p
          | Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.
            
                 
      div
        ul.pagination
          li.page-item.disabled
            a.page-link(href='#') «
          li.page-item.active
            a.page-link(href='#') 1
          li.page-item
            a.page-link(href='#') 2
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#') 4
          li.page-item
            a.page-link(href='#') 5
          li.page-item
            a.page-link(href='#') »