extends layout

block content
  
  
  h2(style='margin-top:30px;') Latest Updates
  p Welcome to the #{title} - Keep up to date with the latest news from the network.
  hr
  div(style='padding:50px')
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active(data-toggle='tab', href='#home') Following
      li.nav-item
        a.nav-link(data-toggle='tab', href='#profile') Popular
      li.nav-item
        a.nav-link(href='#') All
     
    #myTabContent.tab-content
      #home.tab-pane.fade.active.show
        .card.border-success.mb-3
          h3.card-header New Project Launched
            span.badge.badge-success(style='width:250px; margin-left:20px;') East & Central Africa
            span.badge.badge-warning(style='width:100px; margin-left:20px;') Coffee
          .card-body
          .row
                  .col-sm(style='padding:20px')  
                      h5.card-title Coffee Sustainability in Ethipoia
                      h6.card-subtitle.text-muted Up voted by 467 users
                      p.card-text
                          | Short project description. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                        ul.list-group.list-group-flush
                          li.list-group-item Project Created by Organisation
                          li.list-group-item Team included Bob, Bill and Sally
                          li.list-group-item 2019 to 2021
                        .card-body
                          a.card-link(href='/project') Project Information
          
                  .col-sm
                        .card-body
                        img(style='height: 300px; width: 600px; display: block;', src='https://www.solidaridadnetwork.org/sites/solidaridadnetwork.org/files/styles/x-large/public/commodity/_coffee.jpg?itok=SRTf02pq', alt='Card image')
                        
                          
            .card-footer.text-muted
                          | 2 days ago - Update by:
                          a(href='/profile')
                            button.btn.btn-link(type='button') Rachel Wanyoike 
                            
        .card.border-info.mb-3
                h3.card-header Project Completed
                  span.badge.badge-info(style='width:150px; margin-left:20px;') West Africa
                  span.badge.badge-success(style='width:80px; margin-left:20px;') Tea
                .card-body
                .row
                        .col-sm(style='padding:20px')  
                            h5.card-title Coffee Sustainability in Ethipoia
                            h6.card-subtitle.text-muted Up voted by 467 users
                            p.card-text
                                | Short project description. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                              ul.list-group.list-group-flush
                                li.list-group-item Project Created by Organisation
                                li.list-group-item Team included Bob, Bill and Sally
                                li.list-group-item 2019 to 2021
                              .card-body
                                a.card-link(href='/project') Project Information
                
                        .col-sm
                              .card-body
                              img(style='height: 300px; width: 600px; display: block;', src='https://www.solidaridadnetwork.org/sites/solidaridadnetwork.org/files/styles/x-large/public/commodity/_coffee.jpg?itok=SRTf02pq', alt='Card image')
                              
                                
                  .card-footer.text-muted
                                | 2 days ago - Update by:
                                a(href='/profile')
                                  button.btn.btn-link(type='button') Rachel Wanyoike 

          .card.border-danger.mb-3
          h3.card-header 50 Years coming to an end
            span.badge.badge-danger(style='width:120px; margin-left:20px;') Network
            span.badge.badge-secondary(style='width:100px; margin-left:20px;') News
          .card-body
          .row
                  .col-sm(style='padding:20px')  
                      h5.card-title Coffee Sustainability in Ethipoia
                      h6.card-subtitle.text-muted Up voted by 467 users
                      p.card-text
                          | Short project description. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                        ul.list-group.list-group-flush
                          li.list-group-item Project Created by Organisation
                          li.list-group-item Team included Bob, Bill and Sally
                          li.list-group-item 2019 to 2021
                        .card-body
                          a.card-link(href='/project') Project Information
          
                  .col-sm
                        .card-body
                        img(style='height: 300px; width: 600px; display: block;', src='https://www.solidaridadnetwork.org/sites/solidaridadnetwork.org/files/styles/x-large/public/commodity/_coffee.jpg?itok=SRTf02pq', alt='Card image')
                              
      #profile.tab-pane.fade
        p
          | Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.
      #dropdown1.tab-pane.fade
        p
          | Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.
      #dropdown2.tab-pane.fade
        p
          | Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.
    
      
                 
      div
        ul.pagination
          li.page-item.disabled
            a.page-link(href='#') «
          li.page-item.active
            a.page-link(href='#') 1
          li.page-item
            a.page-link(href='#') 2
          li.page-item
            a.page-link(href='#') 3
          li.page-item
            a.page-link(href='#') 4
          li.page-item
            a.page-link(href='#') 5
          li.page-item
            a.page-link(href='#') »