extends layout

block content
  h1 Profile Page
  .container
  .row
    .col-12
      .card
        .card-body
          .card-title.mb-4
            .d-flex.justify-content-start
              .image-container
                img#imgProfile.img-thumbnail(src='http://placehold.it/150x150', style='width: 150px; height: 150px')
                .middle
                  input#btnChangePicture.btn.btn-secondary(type='button', value='Change')
                  input#profilePicture(type='file', style='display: none;', name='file')
              .userData.ml-3
                h2.d-block(style='font-size: 1.5rem; font-weight: bold')
                  a(href='javascript:void(0);') Some Name
                h6.d-block
                  a(href='javascript:void(0)') 1,500
                  |  Video Uploads
                h6.d-block
                  a(href='javascript:void(0)') 300
                  |  Blog Posts
              .ml-auto
                input#btnDiscard.btn.btn-primary.d-none(type='button', value='Discard Changes')
          .row
            .col-12
              ul#myTab.nav.nav-tabs.mb-4(role='tablist')
                li.nav-item
                  a#basicInfo-tab.nav-link.active(data-toggle='tab', href='#basicInfo', role='tab', aria-controls='basicInfo', aria-selected='true') Basic Info
                li.nav-item
                  a#connectedServices-tab.nav-link(data-toggle='tab', href='#connectedServices', role='tab', aria-controls='connectedServices', aria-selected='false') Connected Services
              #myTabContent.tab-content.ml-1
                #basicInfo.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='basicInfo-tab')
                  .row
                    .col-sm-3.col-md-2.col-5
                      label(style='font-weight:bold;') Full Name
                    .col-md-8.col-6
                      | Jamshaid Kamran
                  hr
                  .row
                    .col-sm-3.col-md-2.col-5
                      label(style='font-weight:bold;') Birth Date
                    .col-md-8.col-6
                      | March 22, 1994.
                  hr
                  .row
                    .col-sm-3.col-md-2.col-5
                      label(style='font-weight:bold;') Something
                    .col-md-8.col-6
                      | Something
                  hr
                  .row
                    .col-sm-3.col-md-2.col-5
                      label(style='font-weight:bold;') Something
                    .col-md-8.col-6
                      | Something
                  hr
                  .row
                    .col-sm-3.col-md-2.col-5
                      label(style='font-weight:bold;') Something
                    .col-md-8.col-6
                      | Something
                  hr
                #connectedServices.tab-pane.fade(role='tabpanel', aria-labelledby='ConnectedServices-tab')
                  | Facebook, Google, Twitter Account that are connected to this account
