extends layout

block content
  
  div(style='margin-top:30px; margin-left:30px;')
    h2 Users
    p All users are shown bellow
  hr

  .container-fluid.gedf-wrapper(ng-controller="usersList")
          .row
            .col-md-3
                .card
                  .card-body
                    .h5 Search
                  label(for="filter") 
                  input#filter(type="text", name="filter", ng-model="textFilter", style="margin-left: 15px;")


              .col-md-6.gedf-main
                .card.gedf-card
                
                  .card-body
                    .h5 All Users
                  ul.list-group.list-group-flush
                    li.list-group-item
                      .h6(ng-repeat="user in data | filter : textFilter") 
                        | {{ user.name }} - {{ user.description }}
                     
                        
                        
                      